<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>
	  <include file="$(find mip_rover_lowlevel)/launch/wideboy.launch"/>
	  <include file="$(find mip_rover_motor)/launch/motor_controller.launch"/>
	  <include file="$(find mip_rover_imu)/launch/wideboy.launch"/>
<!-- 	  <include file="$(find raspicam)/launch/raspicam.launch"/> -->
</launch>
